.heading{
    font-size: 3rem;
    font-weight: 400;
    color:#FDC702;
}
.wrapper{
    display: flex;
    /* gap:2rem; */
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid red; */
}
.trustedtravel{
    font-size: 3.5rem;
    font-weight: 500;   
}
.travelslang{
    font-size: 1rem;
    font-weight:600;
    color:grey
}
.midbarbtn{
    display: flex;
    gap: 2rem;
}
.midbarbtnfirst{
    background-color: #029D9D;
    color:white;
     width:8rem;
     height: 3rem;
    border-radius: 5px; 
    cursor: pointer;
}
.midbarbtnsecond{
    background-color: white;
    color:#029D9D;
    width:8rem;
    border-radius: 5px;
    border:2px solid #029D9D; 
    cursor: pointer;
}
.imagecontainer{
    margin-top:6rem;
    display: flex;
     /* border: 1px solid red; */
    
}
@media (max-width:876px) {
    .wrapper{
        display: flex;
        margin-top:2rem;
        flex-direction: column;
        gap:0; 
        font-size: 1rem;
        padding-left: 1rem;
    }  
    .midbarbtn{
        display: flex;
        gap: 1rem;
    }   
    
    .imagecontainer {
        margin-top: 2rem; 
      
    }
    .midbarbtnfirst{
     width:6rem;
}
.midbarbtnsecond{
    width:6rem; 
}
}
